- var img_300 = 'https://via.placeholder.com/225'
- var img_128 = 'https://via.placeholder.com/96'
- var img_36 = 'https://via.placeholder.com/36'
section(class="posts feautured-posts")
    div(class='relative')
        div(class='post first-post')
            img(class='rounded f_left' src=img_300, alt="first-post")
            div
                p title
                div(class='space_vertical')
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam beatae rerum id nesciunt amet, architecto veritatis blanditiis asperiores hic odio ullam sapiente voluptatibus libero eligendi rem minima nulla ipsa voluptas!
                a(class='f_right' href="#") Lire La Suite
        div(class='follow-us social-media')
            img(class='rounded' src=img_36, alt="fb_media")
            div(class='space_horizontal')
            img(class='rounded' src=img_36, alt="fb_media")
            div(class='space_horizontal')
            img(class='rounded' src=img_36, alt="fb_media")
            div(class='space_horizontal')
            img(class='rounded' src=img_36, alt="fb_media")
    //- div(class="clear")
    div
        div(class='post')
            img(class='rounded f_left' src=img_128, alt="first-post")
            div
                p title
                div(class='space_vertical')
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam beatae rerum id nesciunt amet, architecto veritatis blanditiis asperiores hic odio ullam sapiente voluptatibus libero eligendi rem minima nulla ipsa voluptas!
                a(class='f_right' href="#") Lire La Suite
        div(class="clear")
        div(class='post')
            img(class='rounded f_left' src=img_128, alt="first-post")
            div
                p title
                div(class='space_vertical')
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam beatae rerum id nesciunt amet, architecto veritatis blanditiis asperiores hic odio ullam sapiente voluptatibus libero eligendi rem minima nulla ipsa voluptas!
                a(class='f_right' href="#") Lire La Suite
        div(class="clear")
        div(class='post')
            img(class='rounded f_left' src=img_128, alt="first-post")
            div
                p title
                div(class='space_vertical')
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam beatae rerum id nesciunt amet, architecto veritatis blanditiis asperiores hic odio ullam sapiente voluptatibus libero eligendi rem minima nulla ipsa voluptas!
                a(class='f_right' href="#") Lire La Suite
        div(class="clear")